@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #2148c0;
  font-style: normal;
  font-family: Montserrat;
  line-height: 20px;
}

.background-vector {
  background-image: url("../assets/BG.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: 10;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  margin-bottom: 90px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.input {
  background-color: #2148c0;
  border: 0;
  width: 80%;
  height: 30px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-left: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.input:focus {
  outline: none;
}

.input-div {
  border-radius: 4px;
  border: 1px solid #fff;
  width: 300px;
  height: 45px;
  position: relative;
  margin-bottom: 20px;
}

.input-icon {
  position: absolute;
  z-index: 100;
  left: 5;
  top: 10;
}

.login-button {
  text-align: center;
  color: #2148c0;
  width: 300px;
  margin-top: 50px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  padding: 12.5px 0;
  font-size: 16px;
  font-weight: 300;
}

.login-button:hover {
  cursor: pointer;
}

.div-forgot-password {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  float: right;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.password-error {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 10px;
  color: lightcoral;
}
